In [1]:
l = [2,3,4,5,6,7]

In [2]:
l[3]

5

In [3]:
#Determine length of the string(length Function)
len(l)

6

In [7]:
l

[2, 3, 4, 5, 6, 7, 4]

In [9]:
l

[2, 3, 4, 5, 6, 7, 4, 'H', 'a', 's', 'e', 'e', 'b']

In [12]:
#To Insert the string with index(insert function)
l.insert(3, "Haary")

In [13]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'H', 'a', 's', 'e', 'e', 'b']

In [23]:
#Slicing in python
l[::2]

[2, 4, 5, 7, 'a', 'e']

In [24]:
#Backword Slicing
l[::-1]

['b', 'e', 'e', 'a', 4, 7, 6, 5, 'Haary', 4, 3, 2]

In [25]:
#Forward Slicing
l[0:4]

[2, 3, 4, 'Haary']

In [26]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b']

In [27]:
#String
s = "Harry Potter"

In [28]:
s

'Harry Potter'

In [29]:
#ERROR(Because str and lst cannot concatenate)
#string and list ek saath nhi aa skte.
l+s

<class 'TypeError'>: can only concatenate list (not "str") to list

In [30]:
#List Function wih passing string.
#magar yeh string ke har - ek character ko todh dega.
list(s)

['H', 'a', 'r', 'r', 'y', ' ', 'P', 'o', 't', 't', 'e', 'r']

In [31]:
list(s)+l

['H',
 'a',
 'r',
 'r',
 'y',
 ' ',
 'P',
 'o',
 't',
 't',
 'e',
 'r',
 2,
 3,
 4,
 'Haary',
 5,
 6,
 7,
 4,
 'a',
 'e',
 'e',
 'b']

In [32]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b']

In [34]:
#List
l[3]

'Haary'

In [36]:
#Concatenation of list with slicing.
l[3][1:3]

'aa'

In [37]:
s

'Harry Potter'

In [38]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b']

In [39]:
#ERROR(List can concatenate list only not int)
#list list ke saath hi concatenate kregi int ke saath nhi ho payga concatenate
l+5

<class 'TypeError'>: can only concatenate list (not "int") to list

In [40]:
l1 = [3,4,5]

In [41]:
l1

[3, 4, 5]

In [42]:
#Concatenation of two lists.
l+l1

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b', 3, 4, 5]

In [43]:
#Printing lists elements multiple times.
#ek list ke har -ek character ko bhut baar print kr skte hai
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [44]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b']

In [45]:
# Inserting the int value at the end(Append Function)  
l.append(10)

In [46]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b', 10]

In [47]:
#string
s

'Harry Potter'

In [48]:
# Using append function while passing string .
#yeh string ke characters ko as it is yani jodh kr hi dikhayaga.
l.append(s)

In [49]:
l

[2, 3, 4, 'Haary', 5, 6, 7, 4, 'a', 'e', 'e', 'b', 10, 'Harry Potter']

In [50]:
l.append(l1)

In [51]:
l

[2,
 3,
 4,
 'Haary',
 5,
 6,
 7,
 4,
 'a',
 'e',
 'e',
 'b',
 10,
 'Harry Potter',
 [3, 4, 5]]

In [52]:
l[-1]

[3, 4, 5]

In [53]:
l[1]

3

In [57]:
#Using the extend function with passing the string in it.(Extend Function)
#yeh string ke har - ek character ko todh kr dikhyega 
l.extend("Haseeb")

In [58]:
l

[2,
 3,
 4,
 'Haary',
 5,
 6,
 7,
 4,
 'a',
 'e',
 'e',
 'b',
 10,
 'Harry Potter',
 [3, 4, 5],
 'H',
 'a',
 's',
 'e',
 'e',
 'b']

In [59]:
l

[2,
 3,
 4,
 'Haary',
 5,
 6,
 7,
 4,
 'a',
 'e',
 'e',
 'b',
 10,
 'Harry Potter',
 [3, 4, 5],
 'H',
 'a',
 's',
 'e',
 'e',
 'b']

In [60]:
#Extend Function with passing list in it.
#extend function ke aandar list ko pass kiya gaya hai aur yeh list ko bhi todh
# -kr hi dikhayaga .
l.extend([10,12,11])

In [61]:
l

[2,
 3,
 4,
 'Haary',
 5,
 6,
 7,
 4,
 'a',
 'e',
 'e',
 'b',
 10,
 'Harry Potter',
 [3, 4, 5],
 'H',
 'a',
 's',
 'e',
 'e',
 'b',
 10,
 12,
 11]

In [62]:
l1

[3, 4, 5]

In [63]:
# Insert function with integer and index passing parameters.   
l1.insert(1, 19)

In [65]:
l1

[3, 19, 4, 5]

In [66]:
l1

[3, 19, 4, 5]

In [67]:
# Insert function with indexing and string  passing parameters.
l1.insert(0, "Pwskills")

In [68]:
l1

['Pwskills', 3, 19, 4, 5]

In [69]:
l1

['Pwskills', 3, 19, 4, 5]

In [70]:
# Insert function with indexing and list  passing parameters.
l1.insert(3, [2,5,8])

In [71]:
l1

['Pwskills', 3, 19, [2, 5, 8], 4, 5]

In [72]:
l1

['Pwskills', 3, 19, [2, 5, 8], 4, 5]

In [73]:
# Inset function with backward indexing and int passing parameters.
l1.insert(-1, 77)

In [74]:
l1

['Pwskills', 3, 19, [2, 5, 8], 4, 77, 5]

In [75]:
# Insert function with forward indexing.
l1.insert(0, 66)

In [76]:
l1

[66, 'Pwskills', 3, 19, [2, 5, 8], 4, 77, 5]

In [77]:
# Used to delete the element.(Pop Function)
# ERROR when index is out of range means jb uss index pr data hi na ho
l1.pop(19)

<class 'IndexError'>: pop index out of range

In [ ]:
# Pop Function
l1.pop(4)

In [79]:
l1

[66, 'Pwskills', 3, 19, 4, 77, 5]

In [80]:
l1.pop(1)

'Pwskills'

In [81]:
l1

[66, 3, 19, 4, 77, 5]

In [83]:
# Pop Function default mein (-1) value leta hai para-meter mein 
l1.pop()

5

In [84]:
l1

[66, 3, 19, 4, 77]

In [85]:
# Remove Function with passing parameters of int type.
#iss function mein parenthesis mein index ki value nhi direct key value rakhenge jo remove krani hai
l1.remove(4)

In [86]:
l1

[66, 3, 19, 77]

In [87]:
# Remove Function with wrong parameters passing.
l1.remove(343)

<class 'ValueError'>: list.remove(x): x not in list

In [88]:
l1

[66, 3, 19, 77]

In [89]:
l1.append([22,44])

In [90]:
l1

[66, 3, 19, 77, [22, 44]]

In [95]:
l1[4].remove(0)

<class 'ValueError'>: list.remove(x): x not in list

In [96]:
l1

[66, 3, 19, 77, [22, 44]]

In [97]:
l1.append(s)

In [98]:
l1

[66, 3, 19, 77, [22, 44], 'Harry Potter']

In [99]:
l1.reverse()

In [100]:
l1

['Harry Potter', [22, 44], 77, 19, 3, 66]

In [101]:
l1[::-1]

[66, 3, 19, 77, [22, 44], 'Harry Potter']

In [102]:
l1

['Harry Potter', [22, 44], 77, 19, 3, 66]

In [103]:
l1

['Harry Potter', [22, 44], 77, 19, 3, 66]

In [110]:
l2 = [6,7,8.9,33,2,65,21,0,12,15,76,56,65,34,23]

In [111]:
l2

[6, 7, 8.9, 33, 2, 65, 21, 0, 12, 15, 76, 56, 65, 34, 23]

In [112]:
# Sort Function in python
#yeh sort krdeta hai data ko means arrange kr deta hai data ko chotese bade mein line wise.
l2.sort()

In [113]:
l2

[0, 2, 6, 7, 8.9, 12, 15, 21, 23, 33, 34, 56, 65, 65, 76]

In [122]:
# ERROR We cannot sort int and string together.
l3 = [55,"haseeb",34, 5,"ahmed"]

In [123]:
l3.sort()

<class 'TypeError'>: '<' not supported between instances of 'str' and 'int'

In [124]:
l4 = ["haseeb", "ahmed", "data science", "masters"]

In [125]:
l4.sort()

In [126]:
l4

['ahmed', 'data science', 'haseeb', 'masters']

In [128]:
# Sort Function with (reverse = true) parameters passing.
l4.sort(reverse=True)

In [129]:
l4

['masters', 'haseeb', 'data science', 'ahmed']

In [130]:
l4.sort(reverse=False)

In [131]:
l4

['ahmed', 'data science', 'haseeb', 'masters']

In [132]:
# Index Function with passing string as parameters .
#yeh humein btata hai ki string konse index pr hai
l4.index("haseeb")

2

In [133]:
# Count Function with passing string as parameters .
#yeh humein btata hai ki string kitni baar aayi hai 
l4.count("masters")

1

In [4]:
# String (These are immutable entity at any point of time )
s= "haary"

In [5]:
# List (These are mutable entity at any point of time)
# 
l5 = [4,5,6]

In [6]:
s[0]

'h'

In [7]:
# Concept of mutability and immutability .
#aap kisi bhi index ko change nhi kr skte hai (String Mein)
#aap kisi bhi index ko change kr skte ho (List Mein)
#list mein jo changes honge woh permanent changes honge
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [9]:
l5[0] = 15

In [10]:
l5

[15, 5, 6]

In [11]:
# This is called re-assignment.This is not permanent.
s.replace('h', 's')

'saary'

In [12]:
s

'haary'

In [19]:
t =(2,3,4, "harry" , [6,7,8] ,False)

In [20]:
t

(2, 3, 4, 'harry', [6, 7, 8], False)

In [21]:
type(t)

tuple

In [22]:
len(t)

6

In [23]:
t[3]

'harry'

In [24]:
t[-1]

False

In [25]:
t[::-1]

(False, [6, 7, 8], 'harry', 4, 3, 2)

In [26]:
t[::2]

(2, 4, [6, 7, 8])

In [28]:
l6 = ["haseeb", "ahmed", "data science", "masters"]

In [29]:
l6

['haseeb', 'ahmed', 'data science', 'masters']

In [30]:
l6[0] = 243

In [31]:
l6

[243, 'ahmed', 'data science', 'masters']

In [32]:
t

(2, 3, 4, 'harry', [6, 7, 8], False)

In [33]:
# ERROR Tuple are also immutable like strings .
t[0] = "haary"

TypeError: 'tuple' object does not support item assignment

In [34]:
t[::-1]

(False, [6, 7, 8], 'harry', 4, 3, 2)

In [35]:
t.count(0)

1

In [37]:
t.index('harry')

3

In [38]:
s1 = {}

In [39]:
type(s1)

dict

In [45]:
s2= {2,4,5}

In [46]:
type(s2)

set

In [47]:
s3 = {2,3,4, 'harry', (6,7,8)}

In [52]:
s3

{(6, 7, 8), 0.4, 2, 3, 'harry'}

In [50]:
s4 = {2,2,2,4,4,4,5,5,5,6,6,6,7,7,7,88,8,8,8,}

In [55]:
s4

{2, 4, 5, 6, 7, 8, 88}

In [56]:
set(s4)

{2, 4, 5, 6, 7, 8, 88}

In [57]:
s5 = {123,34,78,435,654,55,44, 'abc'}

In [58]:
s5

{123, 34, 435, 44, 55, 654, 78, 'abc'}

In [59]:
# Indexing is not available in set
s5[0]

TypeError: 'set' object is not subscriptable

In [60]:
# slicing is also not available in set.
s5[::-1]

TypeError: 'set' object is not subscriptable

In [61]:
s5.add(16)

In [62]:
s5

{123, 16, 34, 435, 44, 55, 654, 78, 'abc'}

In [63]:
s5.remove(34)

In [64]:
s5

{123, 16, 435, 44, 55, 654, 78, 'abc'}